# Soroban Contract ID (Stellar Testnet)
VITE_CONTRACT_ID=CDUVOWAI5HYXXC3XCXS6NMWSCXL7WHHIEHYRHME2E4DWYUPRSJ5JBEW5

# Stellar Testnet RPC
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org

# Stellar Horizon
VITE_HORIZON_URL=https://horizon-testnet.stellar.org

# Network Passphrase
VITE_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
